@import url("https://staticdigital.labsura.com.co/assets/fonts/SuraSans.woff2");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Sura-Sans";
    font-style: normal;
    font-weight: normal;
    src: url("https://staticdigital.labsura.com.co/assets/fonts/SuraSans.ttf")
    format(truetype),
    url("https://staticdigital.labsura.com.co/assets/fonts/SuraSans.woff2")
    format(woff2);
}

body {
    font-family: "Sura-Sans", serif !important;


}